*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #4A4A4A;
    height: 100%;
}

.clearfix{
    clear: both;
}

#video_background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    background-size: cover;
    height: 100%;
}

/** TYPOGRAPHY **/

h2{
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

a.link--card{
    display: block;
    color: inherit;
}

.btn{
    padding: 15px 20px;
    font-size: 1em;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    background: #ccc;
    outline: none;
}

.btn--green{
    background: #2ecc71;
}

/** FORMS **/

input[type="text"]{
    border: 2px solid #ccc;
    background: white;
    font-size: .9em;
    display: block;
    width: 100%;
    outline: none;
    padding: 10px;
    color: inherit;
    border-radius: 4px;
}

input[type="checkbox"]{
    width: 40px;
    height: 40px;
}


input[type="text"]:focus{
    border-color: #bbb;
    background-color: #fafafa;
}

/** MAIN LAYOUT **/

.sidebar{
    width: 480px;
    background: rgba(240,240,240,.9);
    height: 100%;
    position: fixed;
}

.content{
    left: 480px;
    background: rgba(250,250,250,.9);
    height: 100vh;
    overflow: auto;
    position: fixed;
    z-index: 3;
    width: calc(100% - 480px);
}

.content__inner{
    padding: 50px 30px;
}
.content__inner .top {
    display: none;
}

.topbar{
    height: 100px;
    text-align: center;
}

.topbar h1{
    display: inline;
    font-size: 30px;
    line-height: 100px;
    color: white;
    font-weight: 200;
    letter-spacing: -0.04em;
}

.sidebar .topbar{
    background: rgba(74,74,74,.8);
}

.content .topbar{
    background: rgba(208,1,125,.9);
}

.topbar__left{
    width: 100px;
    height: 100px;
    float: left;
}

.topbar__right{
    width: 100px;
    height: 100px;
    float: right;
}

input.topbar__search{
    height: 100px;
    padding: 20px 60px 20px 30px;
    font-size: 20px;
    margin-right: 0;
    width: 400px;
    font-weight: 200;
    outline: none;
    border: none;
    border-radius: 0;
    color: #4A4A4A;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-transition: width .5s ease-in-out;
}

input.topbar__search:focus{
    height: 100px;
    padding: 20px 60px 20px 30px;
    font-size: 20px;
    margin-right: 0;
    width: 600px;
    font-weight: 200;
    outline: none;
    color: #4A4A4A;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.topbar__search_container{
    float: right;
    position: relative;
}

.topbar__search_container .empty_search{
    position: absolute;
    padding: 35px 15px 30px 15px;
    right: 0;
    top: 0;
}

.topbar__left img, .topbar__right img{
    display: block;
    margin: 30px auto;
}

.content .topbar__left{
    background: rgba(0,0,0,.5);
}

.content .top{
    margin-bottom: 60px;
}

/** GRID **/

.column{
    float: left;
    padding: 0 2%;
}

.half{
    width: 50%;
}

/** QUEUE **/

.song_queue_wrapper{
    position: relative;
    height: calc(100vh - 100px);
}

.song_queue{
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    height: calc(100% - 480px);
    overflow: auto;
}

.song_queue .song_card:nth-child(2)::after, .song_queue .song_card:first-of-type::after{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .5em;
    text-transform: uppercase;
    color: #CACACA;
    font-weight: 600;
}

/** SONG CARD **/

.song_card,.styles_card{
    background: white;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    margin-bottom: 1em;
    position: relative;
    cursor: pointer;
}
.song_card img.delete {
    position: absolute;
    right: -15px;
    top: -15px;
}

.song_card.dragenter {
    opacity: 0.5;
}
.song_card.dragstart {
    opacity: 0.5;
    border: 2px solid #4A4A4A;
}
a:hover .song_card, a:active .song_card{
    background: #fcfcfc;
}

a:active .song_card{
    background: #fcfcfc;
    background: rgba(52, 152, 219,.03);
}

.song_card__icon, .styles_card__icon{
    float: left;
    margin-left: 20px;
    margin-top: 22px;
}

.song_card__icon img, .styles_card__icon img{
    width: 24px;
}

.song_card__left,.styles_card__left{
    float: left;
    padding: 20px;
    width: 60%;
    min-width: 200px;
}

.song_card__right{
    float: right;
    width: 20%;
    padding: 28px 20px;
    text-align: right;
}

.song_card__title, .song_card__artist, .styles_card__title{
    display: block;
}

.song_card__artist{
    font-size: 15px;
}

.song_card__play{
    float: right;
    padding: 25px;
}

.song_card__play img{
    display: block;
    margin-top: 7px;
}

.card__popup{
    -webkit-transition: all .5s linear;
    position: absolute;
    bottom: -500px;
    left: 20px;
    background: rgba(74,74,74,.8);
    border-radius: 5px;
    padding: 20px;
    opacity: 0;
    display: none;
    z-index: 2;
    white-space: nowrap;
}

.card__popup.visible{
    bottom: -100px;
    opacity: 1;
}

.card__popup::after{
    content: " ";
    display: block;
    position: absolute;
    top: -40px;
    left: 20px;
    border-width: 20px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: rgba(74,74,74,.8);
}

.card__popup a{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: rgba(50,50,50,.8);
}

/** CONTROLS **/

.controls{
    background: #4A4A4A;
    color: white;
    height: 480px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.controls .top{
    height: 210px;
}

.controls .bottom{
    background: #3A3A3A;
    height: 270px;
}

.controls__progressbar{
    height: 3px;
    background:#4A90E2;
    width: 0%;
}

.controls__timing{
    color: white;
    font-size: .8em;
    font-weight: 200;
    padding: 10px;
}

.controls__timing .elapsed{
    float: left;
}

.controls__timing .total{
    float: right;
}

.controls__playnext{
    width: 207px;
    height: 150px;
    background: url('../img/play_next_bg.png') no-repeat center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    position: relative;
}

.controls__playnext a.play{
    display: block;
    width: 130px;
    height: 150px;
    background: url('../img/icon_play.png') no-repeat 60px center;
    position: absolute;
    left: 0;
    top: 0;
}

.controls__playnext a.pause{
    display: none;
    width: 130px;
    height: 150px;
    background: url('../img/icon_pause.png') no-repeat 56px center;
    position: absolute;
    left: 0;
    top: 0;
}

.controls__playnext a.next{
    display: block;
    width: 77px;
    height: 90px;
    background: url('../img/icon_next.png') no-repeat 20px center;
    position: absolute;
    top: 30px;
    right: 0;
}

.controls__songtitle{
    color: white;
    font-size: .8em;
    font-weight: 200;
    margin-top: 30px;
    text-align: center;
    padding: 0 20px;
}

.controls__pitchtempo{
    padding: 30px 20px;
    font-size: .7em;
}

/** VOLUME SLIDERS **/

.controls__sliders{
    text-align: center;
}

.slider_wrapper{
    display: inline-block;
    width: 90px;
    margin: 0 10px;
    vertical-align: top;
}
.slider_wrapper input[type=range] {
    -webkit-appearance: none;
    transform: rotateZ(270deg);
    position: absolute;
    width: 90px;
    bottom: 55px;
    left: 2px;
}
.slider_wrapper input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.slider_wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 67px;
    width: 27px;
    background: url('/i/img/slider_handle_vertical.png') no-repeat center bottom;
    margin-top: -32px;
    box-shadow: 0 0 30px rgba(0,0,0,0);

}


.slider_wrapper input[type="range"]::-webkit-slider-thumb:active{
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    border: none;
}

.slider_box{
    width: 90px;
    height: 115px;
    background: #2E2E2E;
    box-shadow: 0 1px 3px rgba(0,0,0,.5) inset;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
}

.slider__caption{
    font-size: .7em;
    cursor: pointer;
    font-weight: bold;
}
/** SPLASHSCREEN **/
.splashscreen{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #D0017D;
    opacity: .9;
    cursor: default;
    display:table;
    vertical-align:middle;
    text-align: center;
    z-index: 3;
    display: none;
}

.splashscreen__content{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}

.splashscreen h1, .splashscreen h3{
    color: white;
    font-weight: 200;
}

.splashscreen h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.splashscreen h3{
    font-size: .8em;
}

.splashscreen #settings_splashscreen{
    position: absolute;
    bottom: 50px;
    right: 50px;
    opacity: .7;
}

#loader{
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url('../img/skin/loader.gif') no-repeat center;
}

/** SETTINGS **/

.settings{
    position: fixed;
    left: 0;
    bottom: -100%;
    height: 100vh;
    width: 100%;
    font-size: .9em;
    background: rgba(0,0,0,.8);
    /** DEMO ONLY **/
    z-index: 5;
    -webkit-transition: bottom .5s ease-in-out;
}
.settings.show {
    bottom: 0;
}
.settings__content{
    padding: 50px;
    margin: 0 auto;
    width: 50%;
    height: 80%;
    margin-top: 5%;
    background: white;
    border-radius: 5px;
    overflow: auto;
}

.settings h1{
    font-size: 2em;
    margin-bottom: 50px;
    font-weight: 200;
    letter-spacing: -0.05em;
    color: #ccc;
}

.setting{
    line-height: 45px;
    margin-bottom: 15px;
}

.setting .caption{
    width: 70%;
    float: left;
}

.setting .value{
    width: 30%;
    float: left;
}

.settings .confirm{
    margin-top: 50px;
}
.settings button {
    cursor: pointer;
}

a#settings{
    float: right;
    margin: 30px;
}

/** Interactions **/
.lifted{
    -webkit-animation: lift .5s ease-out;
    -webkit-animation-fill-mode: forwards;
}

.clicked{
    -webkit-animation: clickfeedback .5s ease-out;
}
.appear {
    -webkit-animation: appear 1s ease-out;
}

@-webkit-keyframes clickfeedback {
    from {
    box-shadow: 0 0 0 1px rgba(208,1,125,1);
}
to {
    box-shadow: 0 0 100px rgba(208,1,125,0);
}
}

@-webkit-keyframes appear {
    from {
    opacity : 0;
    }
    to {
        opacity : 1;
    }
}

@-webkit-keyframes lift {
    from {
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
to {
    box-shadow: 0 0 50px 5px rgba(0,0,0,.4);
}
}